div-1 {
    font-family: Verdana, sans-serif;
    }
    
    .span-1 {
        color: #ffc200;
    }
    
    .div-2 {
        font-family: Merriweather, Georgia, serif;
    }
    
    .div-3 {
        font-family: Georgia, serif;
        color: #666; 
        font-size: 14px;
        font-style: italic ;
    }